/*!
Theme Name:			MobileVestEd Mobile Homes Theme
Theme URI:          https://mobilevested.com
Description:        Built on <a href="https://roots.io/sage/" target="_blank">WP Jumpstart</a>, customized for MobileVestEd.com
Version:            8.5.0
Author:             Tim Brennan (TRB), Development Director for Go Media
Author URI:         https://trygomedia.com
Template: 			mobile
*/
@import url("https://use.typekit.net/iph6fdo.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html, body {
  height: 100%; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #0c0c1f;
  line-height: 18px;
  font-size: 16px;
  position: absolute;
  width: 100%;
  background: white; }

h1,
h2,
h3,
h4,
h5 {
  line-height: 1; }

a:hover {
  color: #fff4e7; }

p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5; }

.gold {
  color: #bf9d6e; }

.background-gradient {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(8%, white), color-stop(8%, rgba(23, 60, 93, 0.95)), to(rgba(11, 35, 64, 0.95)));
  background: linear-gradient(180deg, white 0%, white 8%, rgba(23, 60, 93, 0.95) 8%, rgba(11, 35, 64, 0.95) 100%); }

.gold-gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#bf9d6e), to(#fff4e7));
  background: linear-gradient(0deg, #bf9d6e 0%, #fff4e7 100%); }

.tb-jumbotron .tb-text-block-wrap.text-large .tb-text-block {
  line-height: 1;
  font-family: breakers-slab, sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -.01em; }

.play-icon {
  color: #bf9d6e;
  font-size: 1.5em;
  text-transform: lowercase;
  font-weight: bold;
  font-family: "Raleway", sans-serif; }

.play-icon img {
  margin-right: 10px; }

/*
Breakers Slab Thin
font-family: breakers-slab, sans-serif;
font-weight: 200;
font-style: normal;

Breakers Slab Light
font-family: breakers-slab, sans-serif;
font-weight: 300;
font-style: normal;

Breakers Slab Regular
font-family: breakers-slab, sans-serif;
font-weight: 400;
font-style: normal;

Breakers Slab Bold
font-family: breakers-slab, sans-serif;
font-weight: 70;
font-style: normal;

Raleway Light
font-family: 'Raleway', sans-serif;
font-weight: 300;

Raleway Normal
font-family: 'Raleway', sans-serif;
font-weight: 400;

Roboto
font-family: 'Roboto', sans-serif;

*/
.site-header.transparent,
.tb-sticky-header {
  border: 3px solid #bf9d6e; }

.site-header.transparent .tb-primary-menu > li > .menu-btn,
.tb-sticky-header .tb-primary-menu > li > .menu-btn {
  margin: 0 10px;
  font-family: breakers-slab, sans-serif;
  text-transform: uppercase;
  font-size: 16px; }

.site-header.transparent .tb-primary-menu > li:last-child:before,
.tb-sticky-header .tb-primary-menu > li:last-child:before {
  content: '\a0';
  /* \a0 is hex code for a non-breaking space */
  z-index: -1;
  background-color: #bf9d6e;
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100%;
  left: 0px; }

.site-header.transparent .header-nav .tb-primary-menu > li.login-link > .menu-btn::before,
.tb-sticky-header .header-nav .tb-primary-menu > li.login-link > .menu-btn::before {
  background-color: #0c2746; }

.site-header.transparent > .wrap {
  border-bottom-width: 0px; }

.header-nav .tb-primary-menu > li,
.tb-sticky-header .tb-primary-menu > li {
  border-left: 3px solid #bf9d6e;
  text-align: center;
  margin: auto; }

.site-header.standard {
  border: 3px solid #0c2746;
  background-color: #bf9d6e; }

.site-header.standard .tb-primary-menu > li > .menu-btn {
  margin: 0 10px;
  font-family: breakers-slab, sans-serif;
  text-transform: uppercase;
  font-size: 16px; }

.site-header.standard .tb-primary-menu > li:last-child:before {
  content: '\a0';
  /* \a0 is hex code for a non-breaking space */
  z-index: -1;
  background-color: #0c2746;
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100%;
  left: 0px; }

.site-header.standard .login-link .menu-btn {
  color: white; }

.site-header.standard .header-nav .tb-primary-menu > li,
.site-header.standard .tb-sticky-header .tb-primary-menu > li {
  border-left: 3px solid #0c2746;
  text-align: center;
  margin: auto; }

.site-header.standard .header-nav .tb-primary-menu > li:not(.login-link) > .menu-btn::before {
  background-color: #0c2746; }

.header-nav .tb-primary-menu > li > .menu-btn:before {
  bottom: 15px;
  background-color: #bf9d6e;
  height: 3px; }

footer,
.site-footer {
  background-color: #bf9d6e; }

footer a,
.site-footer a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em; }

footer li,
footer p,
.site-footer li,
.site-footer p {
  color: #0c2746; }

footer li,
.site-footer li {
  padding: 5px 0; }

footer .footer-stay-up,
.site-footer .footer-stay-up {
  text-align: center;
  padding-left: 0px; }

footer .footer-stay-up li,
.site-footer .footer-stay-up li {
  display: inline; }

footer .footer-stay-up li img,
.site-footer .footer-stay-up li img {
  height: auto;
  max-width: 60px; }

@media (max-width: 768px) {
  footer .footer-stay-up li img,
  .site-footer .footer-stay-up li img {
    max-width: 40px; } }

footer .footer-stay-up .li-i,
.site-footer .footer-stay-up .li-i {
  padding: 15px; }

@media (max-width: 768px) {
  footer .footer-stay-up .li-i,
  .site-footer .footer-stay-up .li-i {
    padding: 5px; } }

footer .footer-stay-up .becausecoffee,
.site-footer .footer-stay-up .becausecoffee {
  font-size: 1.2rem;
  font-weight: bold; }

footer .footer-left-menu,
.site-footer .footer-left-menu {
  text-align: center;
  padding-left: 0px;
  padding-top: 50px; }

@media (max-width: 768px) {
  footer .footer-left-menu,
  .site-footer .footer-left-menu {
    padding-top: 5px; } }

footer .footer-left-menu strong,
.site-footer .footer-left-menu strong {
  color: white;
  font-size: 2em; }

footer .footer-left-menu li,
.site-footer .footer-left-menu li {
  list-style-type: none;
  text-align: center; }

footer .footer-right-menu,
.site-footer .footer-right-menu {
  text-align: center;
  padding-left: 0px;
  padding-top: 50px; }

@media (max-width: 768px) {
  footer .footer-right-menu,
  .site-footer .footer-right-menu {
    padding-top: 5px; } }

footer .footer-right-menu strong,
.site-footer .footer-right-menu strong {
  color: white;
  font-size: 2em; }

footer .footer-right-menu li,
.site-footer .footer-right-menu li {
  list-style-type: none;
  text-align: center; }

.btn {
  border: 3px solid #bf9d6e !important;
  padding: 15px 35px;
  font-size: 1.2em;
  background: transparent; }

.btn:hover {
  background: #bf9d6e; }

.btn-primary {
  border: 3px solid #0c2746 !important; }

.btn-primary:hover {
  background: #0c2746; }

.home-hero-section h1 .gold {
  display: block; }

.home-hero-section p {
  font-family: breakers-slab, sans-serif;
  font-weight: 300; }

.home-strategies-section .left-column {
  background-color: #fff4e7; }

.home-strategies-section .left-column h2 {
  font-weight: 300;
  font-style: normal;
  font-size: 2.5em;
  color: #0c2746; }

.home-strategies-section .left-column p {
  color: #0c2746;
  font-family: "Raleway", sans-serif;
  font-size: 1.25em; }

.home-strategies-section .left-column::before {
  content: '\a0';
  /* \a0 is hex code for a non-breaking space */
  z-index: -1;
  background-color: #fff4e7;
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100%;
  left: -50vw; }

.home-strategies-section .right-column h1 {
  font-weight: 300;
  font-style: normal !important;
  font-size: 2.45em !important;
  color: #0c2746; }

.home-strategies-section .right-column p {
  color: #0c2746;
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  margin: 40px 0; }

.home-mailinglist-section h2,
.home-mailinglist-section .tb-headline h2 {
  color: white;
  font-weight: 300;
  font-style: normal !important;
  font-size: 2.5em !important;
  text-transform: uppercase; }

.home-mailinglist-section .gform_wrapper {
  margin: 0px; }

.home-mailinglist-section .gform_wrapper ul li.gfield {
  margin-top: 0px; }

.home-mailinglist-section .gform_wrapper .gfield_label,
.home-mailinglist-section .gform_wrapper .top_label .gfield_label {
  display: none; }

.home-mailinglist-section .gform_wrapper #input_1_1,
.home-mailinglist-section .gform_wrapper .top_label input.large {
  height: 60px;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  font-family: "Raleway", sans-serif; }

.home-mailinglist-section .gform_wrapper .gform_footer {
  text-align: center; }

.home-mailinglist-section .gform_wrapper .gform_footer input.button {
  border: 2px solid #bf9d6e !important;
  padding: 15px 35px;
  font-size: 1.2em;
  background: transparent; }

.why-mobilevested .right-column h1,
.why-mobilevested .right-column h2 {
  font-weight: 300;
  font-style: normal !important;
  font-size: 2.45em !important;
  color: #0c2746;
  text-transform: uppercase; }

.why-mobilevested .right-column p {
  color: #0c2746;
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  line-height: 1.15;
  margin: 40px 0; }

.glenn-and-max h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px; }

.glenn-and-max .gold {
  display: block;
  font-family: breakers-slab, sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 36px; }

.glenn-and-max p {
  font-family: "Raleway", sans-serif;
  color: white; }

.about-hero-section {
  background-color: #0c2746;
  padding-top: 300px;
  padding-bottom: 200px; }

.about-hero-section p {
  font-family: breakers-slab, sans-serif;
  font-weight: 300; }

.about-hero-section h1 {
  font-size: 2em;
  letter-spacing: -.01em;
  line-height: .9; }

.about-hero-section .play-icon {
  color: #0c2746; }

.about-hero-section .hero-inside-row {
  background-color: #bf9d6e !important; }

.about-hero-section .left-column::after {
  content: '\a0';
  background-color: #bf9d6e;
  position: absolute;
  top: -30px;
  width: 50vw;
  height: 297px;
  left: -48vw; }

.about-hero-section .right-column::before {
  content: '\a0';
  background-color: #bf9d6e;
  position: absolute;
  top: -30px;
  width: 50vw;
  height: 297px;
  right: -48vw; }

.about-hero-section .right-column p,
.about-hero-section .right-column h1,
.about-hero-section .right-column .jumbotron-buttons {
  text-align: left; }

@media (max-width: 992px) {
  .about-hero-section .right-column p,
  .about-hero-section .right-column h1,
  .about-hero-section .right-column .jumbotron-buttons {
    text-align: center; } }

.about-hero-section .left-column img {
  width: 85%;
  position: absolute;
  top: -100px; }

.about-mailinglist-section h2,
.about-mailinglist-section .tb-headline h2 {
  color: white;
  font-weight: 300;
  font-style: normal !important;
  font-size: 2.5em !important;
  text-transform: uppercase; }

.about-mailinglist-section .gform_wrapper {
  margin: 0px; }

.about-mailinglist-section .gform_wrapper ul li.gfield {
  margin-top: 0px; }

.about-mailinglist-section .gform_wrapper .gfield_label,
.about-mailinglist-section .gform_wrapper .top_label .gfield_label {
  display: none; }

.about-mailinglist-section .gform_wrapper #input_1_1,
.about-mailinglist-section .gform_wrapper .top_label input.large {
  height: 60px;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  font-family: "Raleway", sans-serif; }

.about-mailinglist-section .gform_wrapper .gform_footer {
  text-align: center; }

.about-mailinglist-section .gform_wrapper .gform_footer input.button {
  border: 2px solid #bf9d6e !important;
  padding: 15px 35px;
  font-size: 1.2em;
  background: transparent; }

.about-mid-section {
  max-width: 700px;
  margin: auto;
  text-align: center;
  background-color: white; }

.meet-glenn h2 {
  color: #fff4e7; }

.meet-glenn p {
  color: white;
  margin-top: 20px; }

.meet-glenn .play-icon {
  position: relative;
  top: 20px; }

.meet-max h2 {
  color: #0c2746; }

.meet-max p {
  color: #0c2746;
  margin-top: 20px; }

.meet-max .play-icon {
  position: relative;
  top: 20px;
  color: #0c2746; }

.contact-hero-section p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.1em; }

.contact-hero-section h1 {
  font-size: 2em;
  letter-spacing: -.01em;
  line-height: .85 !important; }

.contact-hero-section .gform_wrapper {
  margin: 0px; }

.contact-hero-section .gform_wrapper .top_label li.gfield {
  margin-bottom: 0px !important; }

.contact-hero-section .gform_wrapper ul li.gfield {
  margin-top: 0px !important; }

.contact-hero-section .gform_wrapper textarea.large {
  max-height: 150px;
  background-color: #ebebeb;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif; }

.contact-hero-section .gform_wrapper select {
  margin-bottom: 0px; }

.contact-hero-section .gform_wrapper .top_label > li .gfield_label {
  display: none; }

.contact-hero-section .top_label input.large,
.contact-hero-section select {
  background-color: #ebebeb;
  height: 60px;
  padding: 5px 20px !important;
  border-radius: 5px;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif !important; }

.contact-hero-section input::-webkit-input-placeholder,
.contact-hero-section textarea::-webkit-input-placeholder {
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  padding: 5px 20px;
  color: #0c2746; }

.contact-hero-section input::-moz-placeholder,
.contact-hero-section textarea::-moz-placeholder {
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  padding: 5px 20px;
  color: #0c2746; }

.contact-hero-section input:-ms-input-placeholder,
.contact-hero-section textarea:-ms-input-placeholder {
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  padding: 5px 20px;
  color: #0c2746; }

.contact-hero-section input::-ms-input-placeholder,
.contact-hero-section textarea::-ms-input-placeholder {
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  padding: 5px 20px;
  color: #0c2746; }

.contact-hero-section input::placeholder,
.contact-hero-section textarea::placeholder {
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  padding: 5px 20px;
  color: #0c2746; }

.contact-hero-section h3.gform_title {
  color: #0c2746;
  font-family: "Raleway", sans-serif !important; }

.contact-hero-section .gform_wrapper form {
  background: rgba(255, 255, 255, 0.9) !important;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 3px 11px 3px rgba(0, 0, 0, 0.51); }

.contact-hero-section .gform_button {
  border: 3px solid #bf9d6e;
  background-color: transparent;
  color: #0c2746;
  min-width: 150px; }

.contact-faq-section {
  margin: auto;
  padding: 5% 20%; }

@media (max-width: 768px) {
  .contact-faq-section {
    padding: 30px; } }

.contact-faq-section h2 {
  font-family: breakers-slab, sans-serif;
  font-size: 5em;
  font-weight: 300; }

.contact-faq-section p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  line-height: 1.5; }

.contact-faq-section .panel-group .panel {
  padding: 10px;
  box-shadow: 0 0 10px gray;
  margin-bottom: 40px;
  border-radius: 5px; }

.contact-faq-section .panel-title {
  font-family: "Raleway", sans-serif;
  color: #0c2746 !important;
  font-size: 1.2em; }

.contact-faq-section .panel-title a {
  color: #0c2746 !important; }

.contact-faq-section .panel-heading .panel-title-icon {
  float: right; }

.contact-faq-section .panel p {
  color: #bf9d6e; }
