.about-hero-section {
	background-color: $brand-blue;
	padding-top: 300px;
	padding-bottom: 200px;

	p {
		font-family: $font-header;
		font-weight: 300;
	}
	h1 {
		font-size: 2em;
		letter-spacing: -.01em;
		line-height: .9;
	}

	.play-icon {
		color: $brand-blue;
	}
	.hero-inside-row {
		background-color: $brand-gold !important;
	}
	.left-column::after {
		content: '\a0';
		//z-index: -1;
		background-color: $brand-gold;
		position: absolute;
		top: -30px;
		width: 50vw;
		height: 297px;
		left: -48vw;
	}
	.right-column::before {
		content: '\a0';
		//z-index: -1;
		background-color: $brand-gold;
		position: absolute;
		top: -30px;
		width: 50vw;
		height: 297px;
		right: -48vw;
	}
	.right-column p, 
	.right-column h1,
	.right-column .jumbotron-buttons {
		text-align: left;

		@media (max-width: 992px) {
			text-align: center;
		}
	}
	.left-column {

		img {
			width: 85%;
			position: absolute;
			top: -100px;
		}
	}
}
.about-mailinglist-section {
	h2,
	.tb-headline h2 {
		color: $brand-white;
		font-weight: 300;
		font-style: normal !important;
		font-size: 2.5em !important;
		text-transform: uppercase;
	}

	.gform_wrapper {
		margin: 0px;

		ul li.gfield {
			margin-top: 0px;
		}

		.gfield_label,
		.top_label .gfield_label {
			display: none;
		}

		#input_1_1,
		.top_label input.large {
			height: 60px;
			padding: 5px 20px;
			border-radius: 5px;
			font-size: 1.5em;
			text-align: center;
			font-family: $font-body;
		}

		.gform_footer {
			text-align: center;

			input.button {
				border: 2px solid $brand-gold !important;
			    padding: 15px 35px;
			    font-size: 1.2em;
			    background: transparent;
			}
		}
	}
}
.about-mid-section {
	max-width: 700px;
	margin: auto;
	text-align: center;
	background-color: $brand-white;

	img {
		
	}

	p {
		
	}
}
.meet-glenn {
	h2 {
		color: $brand-lt-gold;
	}
	p {
		color: $brand-white;
		margin-top: 20px;
	}
	.play-icon {
		position: relative;
		top: 20px;
	}
}
.meet-max {
	h2 {
		color: $brand-blue;
	}
	p {
		color: $brand-blue;
		margin-top: 20px;
	}
	.play-icon {
		position: relative;
		top: 20px;
		color: $brand-blue;
	}
}