.courses-hero-section {
	.play-icon {
		color: $brand-blue !important;
	}
}
.courses-video-section {

}

.single-sfwd-lessons .post-meta {
   display: none !important;
}

.single-sfwd-courses .post-meta {
   display: none !important;
}

.single-sfwd-topic .post-meta {
   display: none !important;
}

.single-sfwd-quiz .post-meta {
   display: none !important;
}