.gold {
	color: $brand-gold;
}
.background-gradient {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0d2e50+0,082245+100 */
	background: #0d2e50; /* Old browsers */
	background: -moz-linear-gradient(top, #0d2e50 0%, #082245 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0d2e50 0%,#082245 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0d2e50 0%,#082245 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2e50', endColorstr='#082245',GradientType=0 ); /* IE6-9 */
}