html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	color: $brand-default;
	line-height: 18px;
	font-size: 16px;
	position: absolute;
    width: 100%;
    background: $brand-white;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1;
}
a {}
a:hover {
	color: $brand-lt-gold;
}

p {
	font-family: $font-body;
	line-height: 1.5;
}
.gold {
	color: $brand-gold;
}
.background-gradient {
	background: #173c5d;
	background: -moz-linear-gradient(top,  #173c5d 0%, #0b2340 100%);
	background: -webkit-linear-gradient(top,  #173c5d 0%,#0b2340 100%);
	background: linear-gradient(to bottom,  #173c5d 0%,#0b2340 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173c5d', endColorstr='#0b2340',GradientType=0 );
}
.gold-gradient {
	background: #c9ab82;
	background: -moz-linear-gradient(top,  #c9ab82 0%, #b99466 100%);
	background: -webkit-linear-gradient(top,  #c9ab82 0%,#b99466 100%);
	background: linear-gradient(to bottom,  #c9ab82 0%,#b99466 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9ab82', endColorstr='#b99466',GradientType=0 );
}
.tb-jumbotron .tb-text-block-wrap.text-large .tb-text-block {
	line-height: 1;
	font-family: $font-header;
	font-style: normal;
	font-weight: 800;
	letter-spacing: -.01em;
}

.play-icon {
	color: $brand-gold;
	font-size: 1.5em;
	text-transform: lowercase;
	font-weight: bold;
	font-family: $font-body;

	@media (max-width: 768px) {
		font-size: 1.2em;
	}

	img {
		margin-right: 10px;
	}
}



