html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	color: $brand-default;
	line-height: 18px;
	font-size: 16px;
	position: absolute;
    width: 100%;
    background: $brand-white;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1;
}
a {}
a:hover {
	color: $brand-lt-gold;
}

p {
	font-family: $font-body;
	line-height: 1.5;
}
.gold {
	color: $brand-gold;
}
.background-gradient {
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(23,60,93,0.95) 8%, rgba(11,35,64,0.95) 100%); 
}
.gold-gradient {
	background: linear-gradient(0deg, rgb(191, 157, 110) 0%, rgb(255, 244, 231) 100%);
	//background: -webkit-linear-gradient( 90deg, rgb(79,79,81) 0%, rgb(255,255,255) 100%);
	//background: -ms-linear-gradient( 90deg, rgb(79,79,81) 0%, rgb(255,255,255) 100%);
}
.tb-jumbotron .tb-text-block-wrap.text-large .tb-text-block {
	line-height: 1;
	font-family: $font-header;
	font-style: normal;
	font-weight: 800;
	letter-spacing: -.01em;
}

.play-icon {
	color: $brand-gold;
	font-size: 1.5em;
	text-transform: lowercase;
	font-weight: bold;
	font-family: $font-body;

	img {
		margin-right: 10px;
	}
}



