.btn {
	border: 3px solid $brand-gold !important;
    padding: 15px 35px;
    font-size: 1.2em;
    background: transparent;
}
.btn:hover {
	background: $brand-gold;
}

.btn-primary {
	border: 3px solid $brand-blue !important;
}
.btn-primary:hover {
	background: $brand-blue;
}