.site-header.transparent,
.tb-sticky-header {
	border: 3px solid $brand-gold;

	.tb-primary-menu>li>.menu-btn {
		margin: 0 10px;
		font-family: $font-header;
		text-transform: uppercase;
		font-size: 16px;
	}

	.tb-primary-menu>li:last-child:before {
	    content: '\a0'; /* \a0 is hex code for a non-breaking space */
	    z-index: -1;
	    background-color: $brand-gold;
	    position: absolute;
	    top: 0;
	    width: 50vw;
	    height: 100%;
	    left: 0px;
	}

	.header-nav .tb-primary-menu > li.login-link > .menu-btn::before {
		background-color: $brand-blue;
	}
}

.site-header.transparent>.wrap {
	border-bottom-width: 0px;
}

.header-nav .tb-primary-menu>li,
.tb-sticky-header .tb-primary-menu > li {
	border-left: 3px solid $brand-gold;
	text-align: center;
    margin: auto;
}

.site-header.standard {
	border: 3px solid $brand-blue;
	background-color: $brand-gold;

	.tb-primary-menu>li>.menu-btn {
		margin: 0 10px;
		font-family: $font-header;
		text-transform: uppercase;
		font-size: 16px;
	}

	.tb-primary-menu>li:last-child:before {
	    content: '\a0'; /* \a0 is hex code for a non-breaking space */
	    z-index: -1;
	    background-color: $brand-blue;
	    position: absolute;
	    top: 0;
	    width: 50vw;
	    height: 100%;
	    left: 0px;
	}

	.login-link .menu-btn {
		color: $brand-white;
	}

	.header-nav .tb-primary-menu>li,
	.tb-sticky-header .tb-primary-menu > li {
		border-left: 3px solid $brand-blue;
		text-align: center;
	    margin: auto;
	}

	.header-nav .tb-primary-menu > li:not(.login-link) > .menu-btn::before {
		background-color: $brand-blue;
	}
}


.header-nav .tb-primary-menu>li>.menu-btn:before {
	bottom: 15px;
	background-color: $brand-gold;
	height: 3px;
}

