.home-hero-section {
	h1 {
		.gold {
			display: block;
		}
	}
	
	p {
		font-family: $font-header;
		font-weight: 300;
	}
}

.home-strategies-section {

	.left-column {
		background-color: $brand-lt-gold;

	    h2 {
	    	font-weight: 300;
			font-style: normal;
			font-size: 2.5em;
			color: $brand-blue;

			@media (max-width: 768px) {
				text-align: center;
			}
	    }

	    p {
	    	color: $brand-blue;
	    	font-family: $font-body;
	    	font-size: 1.25em;

	    	@media (max-width: 768px) {
				text-align: center;
			}
	    }
	}

	.left-column::before {
		content: '\a0'; /* \a0 is hex code for a non-breaking space */
	    z-index: -1;
	    background-color: $brand-lt-gold;
	    position: absolute;
	    top: 0;
	    width: 50vw;
	    height: 100%;
	    left: -50vw;
	}

	@media (max-width: 768px) {
		.left-column::after {
			content: '\a0'; /* \a0 is hex code for a non-breaking space */
		    z-index: -1;
		    background-color: $brand-lt-gold;
		    position: absolute;
		    top: 0;
		    width: 50vw;
		    height: 100%;
		    right: -50vw;
		}
	}

	.right-column {

		
		h1 {
			font-weight: 300;
			font-style: normal !important;
			font-size: 2.45em !important;
			color: $brand-blue;
		}

		p {
			color: $brand-blue;
	    	font-family: $font-body;
	    	font-size: 1.25em;
	    	margin: 40px 0;
		}
	}
}

.home-mailinglist-section {

	h2,
	.tb-headline h2 {
		color: $brand-white;
		font-weight: 300;
		font-style: normal !important;
		font-size: 2.5em !important;
		text-transform: uppercase;
	}

	.gform_wrapper {
		margin: 0px;

		ul li.gfield {
			margin-top: 0px;
		}

		.gfield_label,
		.top_label .gfield_label {
			display: none;
		}

		#input_1_1,
		.top_label input.large {
			height: 60px;
			padding: 5px 20px;
			border-radius: 5px;
			font-size: 1.5em;
			text-align: center;
			font-family: $font-body;
		}

		.gform_footer {
			text-align: center;

			input.button {
				border: 2px solid $brand-gold !important;
			    padding: 15px 35px;
			    font-size: 1.2em;
			    background: transparent;
			}
		}
	}
}

.why-mobilevested {
	.right-column {
		h1,
		h2 {
			font-weight: 300;
			font-style: normal !important;
			font-size: 2.45em !important;
			color: $brand-blue;
			text-transform: uppercase;

			@media (max-width: 768px) {
				text-align: center;
			}
		}

		p {
			color: $brand-blue;
	    	font-family: $font-body;
	    	font-size: 1.25em;
	    	line-height: 1.15;
	    	margin: 40px 0;

			@media (max-width: 768px) {
				text-align: center;
			}
		}
	}
}

.glenn-and-max {

	h2 {
		color: $brand-white;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 30px;
	}
	.gold {
		display: block;
		font-family: $font-header;
		text-transform: capitalize;
		font-weight: 500;
		font-size: 36px;
	}

	p {
		font-family: $font-body;
		color: $brand-white;
	}

	img {
		height: 300px;
		width: auto !important;
		position: absolute;
		top: -20px;
	}
}
.glenn-and-max-mobile {
	padding-top: 0px;

	.glenn {
		background-color: $brand-blue !important;
		color: $brand-white;
	}

	.max {
		background-color: $brand-blue !important;
		color: $brand-white;
	}

	.blue {
		display: inline;
		color: $brand-gold !important;
		background-color: transparent !important;
	}
}