// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Path settings
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Brand colors
$brand-blue:	rgba(12, 39, 70, 1);	// #0c2746
$brand-gold:	rgba(191, 157, 110, 1); // #bf9d6e;
$brand-lt-gold: rgba(255, 244, 231, 1);	// #fff4e7
$brand-default: rgba(12, 12, 31, 1); 	// #0c151f;
$brand-white: 	rgba(255, 255, 255, 1); // #0c151f;

// Fonts
$font-body:		'Raleway', sans-serif;
$font-header:	breakers-slab, sans-serif;
$font-menu:		'Roboto', sans-serif;

$box-shadow: 0px 3px 11px 3px rgba(204,204,204,0.51); 