// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Path settings
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Brand colors
$brand-red:		rgba(255, 0, 0, 1);	   	//#ff0000
$brand-grey:	rgba(038, 038, 038, 1); //#262626;
$brand-dk-purple: rgba(72, 16, 43, 1);
$brand-purple: #38215C;